/* Импорт других css-файлов */
@import 'elements.css';
@import 'grids.css';
@import 'fonts.css';

/* Сброс стилей */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
}

/* Стилизация header'a */
.header {
    height: 6rem;
    background-color: #FFC513;
}

.c-b {
    color: #002C6F;
}

.aboutCompany {
    height: 37.5rem;
    background-image: url("../img/aboutCompanyBackground.png");
}
