/* файл для работы с элементами сайта */

.p-r {
    position: relative;
}

.p-a {
    position: absolute;
}

.d-f {
    display: flex;
}

.j-c-c {
    justify-content: center;
    gap: 80px;
}

.icon-car {
    margin-left: 17.4375rem;
    margin-top: 0.3125rem;
}

.elissa {
    margin-left: -4.5rem;
    margin-top: -15rem;
}

.icon-vk, .icon-email {
    width: 1.25rem;
    height: 1.188rem;
}

